.home .hero {
  align-items: stretch;
  display: grid;
  gap: var(--gap);
  grid-template-areas:
    "main events"
    "main emt"
    "main resources";
  grid-template-columns: 2fr 1fr;
  min-height: 30rem;
  padding-block: var(--spacing-10);
}

.hero__column {
  background-position: center center no-repeat;
}

.hero__column:not(:first-child) {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  color: var(--white);
  flex-basis: var(--spacing-40);
  flex-shrink: 0;
  justify-content: end;
  padding: var(--global-padding);
  overflow: hidden;
  position: relative;
}

.hero__column-title {
  font-family: var(--title-font-family);
  font-weight: 300;
  margin: 0;
  position: relative;
  z-index: 1;
}

.hero__column:not(:first-child)::after {
  background-image: linear-gradient(transparent, var(--gray-90));``
  background-size: cover;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}

.hero__column--events {
  background-image: url("images/events.jpg");
  grid-area: "events";
}

.hero__column--emt {
  background-image: url("images/emt.jpg");
  grid-area: "emt";
}

.hero__column--resources {
  background-image: url("images/resources.jpg");
  grid-area: "resources";
}

.section__header {
  align-items: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event__link {
  color: var(--white);
}
