<% content_for(:page_title, "Les instruments pratiqués à l’EMT") %>
<% content_for(:page_class, "instruments") %>

<%= render Global::HeroComponent.new(title: "Les instruments pratiqués à l’EMT") %>

<section class="section">
  <div class="wrapper">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument.name, emt_instrument_path(instrument.id) %>
    <% end %>
  </div>
</section>
