<footer class="footer wrapper">
  <div class="footer__container">
    <div class="footer__column">
      <h3 class="footer__column-title">Title</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="footer__column">
      <h3 class="footer__column-title">Contact</h3>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">© <%= Time.zone.now.year %> · Groupement Culturel Breton des Pays de Vilaine.</div>
</footer>
