.card {
  background: linear-gradient(to right, var(--blue-50), var(--purple-50));
  border-radius: var(--border-radius);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--global-padding);
  text-decoration: none;
}

.card__header {
  align-items: center;
  display: flex;
  gap: var(--gap);
}

.card__title {
  font-size: 2rem;
  margin: 0;
}

.card__content {
  text-align: right;
}
